<ion-content>
	<div class="wrap">
		<form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)" class="ion-padding-horizontal">
			<ion-img src="/assets/logo_no_back.png" class="logo"></ion-img>
			<ion-grid>
				<ion-row class="title">
					<ion-col class="ion-text-center">
						<ion-label>Sign Up</ion-label>
					</ion-col>
				</ion-row>
				<ion-row class="input-field">
					<ion-col>
						<ion-item class="ion-no-padding">
							<ion-input placeholder="Username" required ngModel name="username"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row class="input-field">
					<ion-col>
						<ion-item class="ion-no-padding">
							<ion-input placeholder="Email address" type="email" required ngModel name="email"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row class="input-field">
					<ion-col>
						<ion-item class="ion-no-padding">
							<ion-input placeholder="Password" type="password" required ngModel name="password"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row class="input-field">
					<ion-col>
						<ion-item class="ion-no-padding">
							<ion-input placeholder="Confirm Password" type="password" required ngModel name="confirmPassword"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button type="submit" class="button sign-up-button">
							Sign Up
							<ion-spinner color="light" name="lines-small" *ngIf="signupSpinner"></ion-spinner>
						</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button color="tertiary" size="small" expand="block" fill="clear" class="ion-float-left link-button" routerLink="/home/login">Already have an account? <b>Sign In</b></button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
	<div class="second-dark-orange-ball">
		<div class="second-light-orange-ball"></div>
	</div>
</ion-content>
