<ion-header>
	<ion-toolbar>
		<!-- <ion-buttons slot="start">
			<ion-back-button defaultHref="home/dashboard"></ion-back-button>
		</ion-buttons> -->
		<ion-img slot="end" src="/assets/logo_no_back.png" class="logo"></ion-img>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
		<ion-title class="ion-text-center ion-margin-vertical" color="warning"><h1>Welcome to Empuraan</h1></ion-title>
		<ion-title class="ion-text-center ion-margin-vertical"><h2>Sign Up</h2></ion-title>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Username</ion-label>
						<ion-input required ngModel name="username"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Email</ion-label>
						<ion-input type="email" required ngModel name="email"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Password</ion-label>
						<ion-input type="password" required ngModel name="password"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Confirm Password</ion-label>
						<ion-input type="password" required ngModel name="confirmPassword"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button type="submit" class="sign-up-button">Sign Up</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button
						color="tertiary"
						size="small"
						expand="block"
						fill="clear"
						class="ion-float-left"
						routerLink="/home/login"
					>
						Already have an account?
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
