.logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding-top: 10px;
}
.button{
    width: 100%; 
    margin-top: 10px;
    border-radius: 5px;
    height: 45px;
    font-size: 14px;
}
.sign-up-button{
    background-color: #2879cf;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.link-button{
    float: left;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
}
.links-block{
    display: flex;
    flex-direction: column;
}
form{
    margin-top: 5%;
}
h1,h2{
    padding:0;
    margin:0;
}
@media screen and (max-width: 360px) {
    h1,h2{
      font-size: 17px;
    }
    ion-label, ion-text, p, h5, ion-button, span{
      font-size: 13px !important;
    }
    ion-icon{
        font-size: 17px;
    }
    .sign-up-button{
        width: 100%; 
        height: 40px;
        font-size: 13px !important;
    }
}