.wrap {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.post-content {
  white-space: break-spaces;
  text-align: justify;
}

ion-toolbar {
  box-shadow: 0px -4px 20px 11px #fafafa !important;
}

@media screen and (max-width: 360px) {
  ion-title {
    font-size: 15px !important;
  }

  ion-text {
    font-size: 13px !important;
  }
}