<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Search Companies</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content vertical="top">
	<ion-searchbar showCancelButton="focus" (ionChange)="filter($event.detail.value)"></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let company of filteredData || companies">
			<ion-label>{{ company.name }}</ion-label>
			<ion-checkbox
				slot="end"
				[checked]="seeIfChecked(company)"
				(ionChange)="onSelect($event.detail.checked, company)"
			></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>
