<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Search Companies</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content vertical="top" style="display: flex; flex-direction: column; align-items: center;">
	<ion-searchbar showCancelButton="focus" (ionChange)="filter($event.detail.value)"></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let s of filteredData || stocks">
			<ion-label>
				<div style="display: flex; align-items: center;">
					<span style="padding:5px 0">{{ s.companyName }}</span>
					<ion-spinner *ngIf="s.isLoaded == false" name="lines-small" class="ion-padding-start"></ion-spinner>
				</div>
			</ion-label>
			<ion-checkbox
				slot="end"
				[checked]="seeIfChecked(s)"
				(click)="onSelect($event, s)"
			></ion-checkbox>
		</ion-item>
	</ion-list>
	<div style="width: 100%; display: flex; align-items: center; justify-content: center;">
		<ion-spinner *ngIf="spinner" name="lines-small" class="ion-margin"></ion-spinner>
	</div>
</ion-content>
