<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Change password</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
  <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <ion-item>
      <ion-label>New password</ion-label>
      <ion-input type="password" required ngModel name="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm password</ion-label>
      <ion-input type="password" required ngModel name="confirmPassword"></ion-input>
    </ion-item>
    <ion-button class="ion-margin" expand="block" type="submit">Submit</ion-button>
  </form>
</ion-content>