<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Change password</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label>New password</ion-label>
            <ion-input type="password" required ngModel name="newPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding ion-margin-bottom">
            <ion-label>Confirm password</ion-label>
            <ion-input type="password" required ngModel name="confirmPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button expand="block" type="submit">
        Submit
        <ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
      </ion-button>
    </ion-grid>
  </form>
</ion-content>