<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Create watchlist</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-item class="ion-margin-horizontal ion-no-padding">
		<ion-label position="floating">Name of watchlist</ion-label>
		<ion-input [(ngModel)]="watchlistName"></ion-input>
	</ion-item>
	<ion-button class="ion-margin" expand="block" (click)="onCreateWatchlist()">
		Create watchlist
		<ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
	</ion-button>
	<div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)" *ngIf="watchlists.length > 0">
		<div class="drag-box" *ngFor="let watchlist of watchlists" cdkDrag>
			<ion-icon name="reorder-three-outline" class="ion-margin-end"></ion-icon>
			<span>{{ watchlist.name }}</span>
		</div>
	</div>
	<div style="width: 100%; display: flex; justify-content: center; align-items: center;">
		<ion-spinner name="lines-small" *ngIf="!dataLoaded" class="ion-margin"></ion-spinner>
	</div>
</ion-content>
