<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Upload post</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form #postForm="ngForm">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Post title</ion-label>
						<ion-input name="title" ngModel required maxlength=100></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Stock Name</ion-label>
						<ion-input name="stockname" ngModel required maxlength=100></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Content</ion-label>
						<ion-textarea name="content" ngModel required maxlength=255></ion-textarea>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-button color="success" class="post-button" expand="block" (click)="selectImageSource()">
						<ion-icon name="attach-outline"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button expand="block" class="post-button" (click)="uploadFile(postForm)">Post</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6" *ngFor="let img of images; let i = index" class="ion-text-center">
					<ion-label>
						<!-- <p>{{ img.createdAt | date: "short" }}</p> -->
					</ion-label>
					<ion-img [src]="img.url" [alt]="img"></ion-img>
					<ion-fab vertical="bottom" horizontal="end">
						<ion-fab-button color="danger" size="small" (click)="deleteImage(i)">
							<ion-icon name="trash-outline"></ion-icon>
						</ion-fab-button>
					</ion-fab>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
