<ion-content>
	<ion-icon name="arrow-back-outline" (click)="dismissModal()"></ion-icon>
  <div class="wrap">
    <div class="form ion-padding-horizontal ion-text-center">
      <ion-label class="title">
        Enter the code that you've recieved on {{email}}
      </ion-label>
      <ion-item class="ion-no-padding">
        <ion-input placeholder="Code" [(ngModel)]="code"></ion-input>
      </ion-item>
      <button class="validate button" (click)="codeCheck(email, code)">
        Validate my code
        <ion-spinner name="lines-small" color="light" *ngIf="spinner"></ion-spinner>
      </button>
			<button (click)="dismissModal()" class="cancel button">Cancel</button>
    </div>
  </div>
</ion-content>