<!--<div class="modal-popup">
  <div class="modal-header">
    <h4>Buy/Sell</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #tradeForm="ngForm">

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!tradeForm.form.valid"
      (click)="onSubmit()"
    >
      Buy/Sell
    </button>
  </div>
</div>-->
<div class="container">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
    Buy/Sell
  </button>
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">SBIN <small>NSE</small><span class="stocks">{{ serverName }}</span> x 1 Qty.<br><span class="intraday">Intraday</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
              <div class="form-row">

            <div class="col-sm">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" [(ngModel)]="serverName">
              </div>
              <div class="col-sm">
            <label for="stoploss">Stop Loss:</label>
            <input type="number" class="form-control" id="stoploss">
                </div>
              </div>
          </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Buy</button>
          <button type="submit" class="btn btn-success">Sell</button>
        </div>
      </form>
    </div>
  </div>
</div>
