<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="['home','watchlist']" (click)="navigateToAccount()"></ion-back-button>
		</ion-buttons>
    <ion-title>Invite friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;width: 100%;display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    <ion-label>
      <span style="font-weight: 500;">Invite your friends<br>for some amazing rewards!</span>
    </ion-label>
    <ion-button style="width: 80%; height: 50px;" class="ion-margin" (click)="shareLink()">Invite</ion-button>
    <ion-label class="ion-margin-vertical">
      <span style="font-weight: 500; font-size: 14px;">or just copy this link</span>
    </ion-label>
    <ion-item style="width:80%">
      <ion-input readonly [value]="link"></ion-input>
      <ion-icon name="attach-outline" (click)="showToast()"></ion-icon>
    </ion-item>
  </div>
</ion-content>
