ion-button{
    width: 100%;
    height: 50px;
}
.subtitle-text{
    padding: 0;
    color: #737373;
    font-size: 14px;
    margin-bottom: 0;
}
.cash-text{
    margin-top: 5px;
    padding: 0;
}
hr {
    border-top: 1px solid rgba(167, 167, 167, 0.5) !important;
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-top:0;
}
@media(prefers-color-scheme: dark) {
    .subtitle-text{
        color: #949494;
    }
}