<ion-content>
	<ion-icon name="arrow-back-outline" (click)="dismissModal()"></ion-icon>
	<div class="wrap">
		<div class="form ion-padding-horizontal ion-text-center">
			<ion-img src="/assets/logo_no_back.png" class="logo"></ion-img>
			<ion-label class="title">Password<br />Recovery</ion-label>
			<ion-item class="ion-no-padding">
				<ion-input placeholder="Email address" [(ngModel)]="email" type="email"></ion-input>
			</ion-item>
			<button (click)="emailCheck(email)" class="send button">
				Send me the code
				<ion-spinner name="lines-small" *ngIf="spinner" color="light"></ion-spinner>
			</button>
			<button (click)="dismissModal()" class="cancel button">Cancel</button>
		</div>
	</div>
</ion-content>
