<ion-header>
	<ion-toolbar>
		<ion-title>Forgot password</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-item class="ion-margin-bottom ion-no-padding">
		<ion-label>Email</ion-label>
		<ion-input [(ngModel)]="email" type="email"></ion-input>
	</ion-item>
	<ion-button size="block" (click)="emailCheck(email)">
		Send me the code
		<ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
	</ion-button>
</ion-content>
