.title-column{
    font-weight: 700;
    text-align: center;
}
ion-card-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ion-card-title{
    font-size: 15px;
}
hr {
    border-top: 1px solid rgba(167, 167, 167, 0.5) !important;
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-bottom: 0;
}
ion-card-subtitle{
    margin-top: 0;
    font-size:14px;
    color:#ababab;
}
.card-input{
    border: 1px solid rgb(184, 184, 184, 0.69);
    color: black;
    padding: 0 11px !important;
    font-size:18px;
}