<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>{{ position != null ? "Edit Position" : "Edit Pending" }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
  <ion-title class="ion-padding" *ngIf="position != null">{{position.name}}</ion-title>
  <ion-title class="ion-padding" *ngIf="pending != null">{{pending.name}}</ion-title>
	<ion-grid>
		<ion-row *ngIf="position != null">
			<ion-col>
				<ion-item>
					<ion-label>Stop-Loss</ion-label>
					<ion-input type="number" min=0 [(ngModel)]="position.SL"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Target</ion-label>
					<ion-input type="number" min=0 [(ngModel)]="position.LTP"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="pending != null">
			<ion-col>
				<ion-item>
					<ion-label>Target</ion-label>
					<ion-input type="number" [(ngModel)]="pending.LTP"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer class="ion-padding">
  <div *ngIf="position != null">
    <ion-button expand="block" color="success" (click)="savePosition()">
      <ion-icon name="save-outline" style="padding-right: 5px"></ion-icon>
      Save
    </ion-button>
    <ion-button expand="block" color="danger" (click)="sellPosition()">
      <ion-icon name="trash-outline" style="padding-right: 5px"></ion-icon>
      Sell
    </ion-button>
  </div>
  <div *ngIf="pending != null">
    <ion-button expand="block" color="success" (click)="savePending()">
      <ion-icon name="save-outline" style="padding-right: 5px"></ion-icon>
      Save
    </ion-button>
  </div>
</ion-footer>
