*:focus {
    outline: none;
}
.logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding-top: 10px;
}
form{
    margin: auto 0;
    // margin-top: 5%;
}
.button-col{
    width: 100%;
}
ion-input{
    --placeholder-color: rgba(140,141,140);
    --placeholder-opacity: 1;
}
ion-item {
    --border-color: rgba(209,179,127);
    --border-bottom-width: 2px;
}
.button{
    width: 100%; 
    margin-top: 10px;
    border-radius: 15px;
    height: 50px;
    font-size: 14px;
    box-shadow: 0 0 15px 5px #f0f0f0;
}
.login-button{
    background-color: rgba(33,95,204);
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.google-button{
    background-color: rgba(185,43,33);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    span{
        padding-left: 10px;
    }
}
.new-user-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color:rgba(203,171,115);
}
.link-button{
    float: left;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
}
.links-block{
    display: flex;
    flex-direction: column;
}
.or{
    width: 100%;
    span{
        font-size: 14px;
        padding: 10px;
        margin: 0 auto;
    }
}
h1,h2{
    padding:0;
    margin:0;
}
@media screen and (max-width: 360px) {
    h1,h2{
      font-size: 17px;
    }
    ion-label, ion-text, p, h5, ion-button, span{
      font-size: 13px !important;
    }
    ion-icon{
        font-size: 17px;
    }
    .login-button{
        width: 100%; 
        height: 40px;
    }
}