*:focus {
    outline: none;
}
.first-dark-orange-ball{
    background-color: #C99A4C;height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    left: -46%;
    top: -17%;
    .first-light-orange-ball{
        background-color: #E0B64A;
        height: 300px;
        width: 300px;
        top: -10%;
        left: -13%;
        border-radius: 50%;
        position: relative;
    }
}

.second-dark-orange-ball{
    background-color: #E0B64A;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: relative;
    right: -45%;
    bottom: -52%;
    .second-light-orange-ball{
        background-color: #C99A4C;
        height: 220px;
        width: 220px;
        bottom: -12%;
        right: -11%;
        border-radius: 50%;
        position: relative;
    }
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    form{
        width: 100%;
        height: 90%;
        position: absolute;
    }
}
.logo{
    height: 125px;
    width: 125px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.title{
    padding-bottom: 25px;
    ion-label{
        font-size: 35px;
        font-weight:700;
    }
}
.input-field{
    padding-bottom: 20px;
}
.button-col{
    width: 100%;
}
ion-input{
    --placeholder-color: rgba(140,141,140);
    --placeholder-opacity: 1;
    font-size: 14px;
}
ion-item {
    --border-color: rgba(209,179,127);
    --border-bottom-width: 2px;
}
.button{
    width: 100%; 
    border-radius: 15px;
    height: 50px;
    font-size: 14px;
}
.login-button{
    background-color: #215fcc;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.google-button{
    background-color: #b92b21;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    span{
        padding-left: 10px;
    }
}
.new-user-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color:rgba(203,171,115);
    box-shadow: 0 2px 5px 0px #c7c7c7;
}
.link-button{
    float: left;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
}
.links-block{
    display: flex;
    flex-direction: column;
}
h1,h2{
    padding:0;
    margin:0;
}
@media screen and (max-width: 360px) {
    h1,h2{
      font-size: 17px;
    }
    .title{
        ion-label{
            font-size: 17px;
        }
    }
    ion-text, p, h5, ion-button, span{
      font-size: 13px !important;
    }
    ion-icon{
        font-size: 17px;
    }
    .login-button, .google-button, .new-user-button{
        width: 100%; 
        height: 40px;
    }
}