<ion-header>
  <ion-toolbar>
    <ion-img slot="end" src="/assets/logo_no_back.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <ion-title class="ion-text-center ion-margin-vertical" color="warning"><h1>Welcome to Empuraan</h1></ion-title>
    <ion-title class="ion-text-center ion-margin-vertical"><h2>Login</h2></ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" required ngModel name="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required ngModel name="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="login-button" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=6>
          <ion-button color="tertiary" size="small" fill="clear" class="link-button" routerLink="/home/sign-up">
            New user?
          </ion-button>
        </ion-col>
        <ion-col size=6>
          <ion-button color="tertiary" size="small" fill="clear" class="link-button ion-float-right">
            Forgot password?
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="or-line">
            <hr>
            <span>OR</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="login-button" color="danger" (click)="login()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Login with Google
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
