.logo{
    height: 70px;
    width: 70px;
    padding-right: 10px;
}
.login-button{
    width: 100%; 
    height: 50px;
}
.links-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
}
.or-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    span{
        position: absolute;
        background-color: #d2d2d2;
        border-radius: 50%;
        font-size: 14px;
        padding: 10px;
    }
    hr {
        position: absolute;
        border-bottom: 1px solid rgba(167, 167, 167, 0.5) !important;
        // height: 1px !important;
        width: 100% !important;
        display: block !important;
        font-size: 2em !important;
        opacity: 1 !important;
        // visibility: visible !important;
    }
}
h1,h2{
    padding:0;
    margin:0;
}
@media screen and (max-width: 360px) {
    h1,h2{
      font-size: 17px;
    }
    ion-label, ion-text, p, h5, ion-button, span{
      font-size: 13px !important;
    }
    ion-icon{
        font-size: 17px;
    }
    .login-button{
        width: 100%; 
        height: 40px;
    }
}