.blog-link{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    text-justify: newspaper;
    color:#131313;
}
ion-spinner{
    width: 100%;
    margin: 25px auto;
}
.blog-link:active{
    color:#070707;
}
@media screen and (max-width: 360px) {
    .blog-link{
      font-size: 13px !important;
    }
}