<ion-header #header class="ion-no-border">
	<ion-toolbar>
		<ion-title>
			<div style="display: flex; align-items: center; justify-content: center;">
				<span>Orders</span>
				<ion-spinner name="lines-small" class="ion-padding-start" *ngIf="spinner && dataLoaded"></ion-spinner>
			</div>
		</ion-title>
		<ion-img slot="end" src="/assets/logo_no_back.png" class="logo"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content mode="ios">
	<super-tabs *ngIf="!dataLoaded">
		<super-tabs-toolbar slot="top" color="translucent">
			<super-tab-button>
				<ion-label>Position</ion-label>
			</super-tab-button>
			<super-tab-button>
				<ion-label>Completed</ion-label>
			</super-tab-button>
			<super-tab-button>
				<ion-label>Pending</ion-label>
			</super-tab-button>
		</super-tabs-toolbar>
		<super-tabs-container>
			<super-tab>
				<ion-searchbar showCancelButton="focus"></ion-searchbar>
				<ion-card mode="ios">
					<ion-list>
						<ion-item class="ion-no-padding order-item" *ngFor="let item of [].constructor(5)">
							<ion-grid class="ion-no-padding ion-padding-vertical">
								<ion-row>
									<ion-col col="6" class="ion-padding-start">
										<span style="display: flex; flex-direction: row; justify-content: flex-start;">
											<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
										</span>
										<span style="display: flex; flex-direction: row; justify-content: flex-start;">
											<ion-skeleton-text animated style="width: 25%;margin-right: 10px;">
											</ion-skeleton-text>
											<ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
										</span>
										<span style="display: flex; flex-direction: row; justify-content: flex-start;">
											<ion-skeleton-text animated style="width: 28%;margin-right: 10px;">
											</ion-skeleton-text>
											<ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
										</span>
									</ion-col>
									<ion-col col="6" class="ion-padding-end">
										<span style="display: flex; flex-direction: row; justify-content: flex-end;">
											<ion-skeleton-text animated style="width: 15%;margin-right: 10px;">
											</ion-skeleton-text>
											<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
										</span>
										<span style="display: flex; flex-direction: row; justify-content: flex-end;">
											<ion-skeleton-text animated style="width: 15%;margin-right: 10px;">
											</ion-skeleton-text>
											<ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
										</span>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
					</ion-list>
				</ion-card>
			</super-tab>
		</super-tabs-container>
	</super-tabs>
	<super-tabs (tabChange)="tabIndex($event)" *ngIf="dataLoaded">
		<super-tabs-toolbar slot="top" color="translucent">
			<super-tab-button (click)="tabIndex(0)">
				<ion-label>Position</ion-label>
			</super-tab-button>
			<super-tab-button (click)="tabIndex(1)">
				<ion-label>Completed</ion-label>
			</super-tab-button>
			<super-tab-button (click)="tabIndex(2)">
				<ion-label>Pending</ion-label>
			</super-tab-button>
		</super-tabs-toolbar>
		<super-tabs-container (activeTabIndexChange)="tabIndex($event)">
			<super-tab>
				<ion-searchbar showCancelButton="focus" (ionChange)="filterPosition($event)"></ion-searchbar>
				<ion-text class="ion-padding-start ion-padding-top"
					*ngIf="filteredPosition?.length == 0 || position?.length == 0 && dataLoaded">
					There are no position orders currently.
				</ion-text>
				<ion-card mode="ios">
					<ion-list *ngIf="filteredPosition?.length > 0 || position?.length > 0 && dataLoaded">
						<ion-item class="ion-no-padding order-item" *ngFor="let p of filteredPosition || position"
							(click)="ordersActionSheet(p)">
							<ion-grid class="ion-no-padding ion-padding-vertical">
								<ion-row>
									<ion-col col="6" class="ion-padding-start">
										<p>
											<span
												[ngClass]="{'buy': p.orderCategory == 'buy', 'sell': p.orderCategory == 'sell'}">
												{{p.name}} </span>
										</p>
										<p>Price: {{p.price}}</p>
										<p>Quantity: {{p?.orderCategory == 'sell' ? '-' : '+'}}{{p.quantity}}</p>
									</ion-col>
									<ion-col col="6" class="ion-text-right ion-no-padding">
										<table class="ion-float-right">
											<tbody>
												<tr>
													<td>
														<p><strong>P&L</strong></p>
													</td>
													<td>
														<p>
															<ion-text
																[color]="+p.ltp - p.price >= 0 ? 'success' : 'danger'"
																*ngIf="p.orderCategory == 'buy'">
																{{+p.ltp - p.price > 0 ? ' +' : ''}}{{+(p.ltp - p.price)*p.quantity | number:'1.2'}}
															</ion-text>
															<ion-text
																[color]="+p.ltp - p.price >= 0 ? 'success' : 'danger'"
																*ngIf="p.orderCategory == 'sell'">
																{{+p.ltp - p.price > 0 ? ' +' : ''}}{{+(p.price - p.ltp)*p.quantity | number:'1.2'}}
															</ion-text>
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p><strong>LTP</strong></p>
													</td>
													<td>
														<p>{{p.ltp}}</p>
													</td>
												</tr>
											</tbody>
										</table>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
					</ion-list>
				</ion-card>
			</super-tab>
			<super-tab>
				<ion-searchbar showCancelButton="focus" (ionChange)="filterCompleted($event)"></ion-searchbar>
				<div class="wrap">
					<ion-text class="ion-padding-start ion-padding-top"
						*ngIf="filteredCompleted?.length == 0 || completed?.length == 0 && dataLoaded">
						There are no completed orders currently.
					</ion-text>
					<ion-card mode="ios">
						<ion-list *ngIf="filteredCompleted?.length > 0 || completed?.length > 0 && dataLoaded">
							<ion-item class="ion-no-padding order-item"
								*ngFor="let c of filteredCompleted || completed">
								<ion-grid class="ion-no-padding ion-padding-vertical">
									<ion-row>
										<ion-col col="6" class="ion-padding-start">
											<p>
												<span
													[ngClass]="{'buy': c.orderCategory == 'buy', 'sell': c.orderCategory == 'sell'}">
													{{c.name}} </span>
											</p>
											<p>Quantity: {{c?.orderCategory == 'sell' ? '-' : '+'}}{{c.quantity}}</p>
										</ion-col>
										<ion-col col="6" class="ion-text-right">
											<p>
												<span
													[ngClass]="{'cancelled': c.status == 'cancelled', 'complete': c.status == 'completed'}">
													{{c.status | uppercase}}
												</span>
											</p>
											<p>
												<strong>Price</strong>
												{{c.price}}
											</p>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-item>
						</ion-list>
					</ion-card>
				</div>
			</super-tab>
			<super-tab>
				<ion-searchbar showCancelButton="focus" (ionChange)="filterPending($event)"></ion-searchbar>
				<div class="wrap">
					<ion-text class="ion-padding-start ion-padding-top"
						*ngIf="filteredPending?.length == 0 || pending?.length == 0 && dataLoaded">
						There are no pending orders currently.
					</ion-text>
					<ion-card mode="ios">
						<ion-list *ngIf="filteredPending?.length > 0 || pending?.length > 0 && dataLoaded">
							<ion-item class="ion-no-padding order-item" *ngFor="let p of filteredPending || pending"
								(click)="ordersActionSheet(p)">
								<ion-grid class="ion-no-padding ion-padding-vertical">
									<ion-row>
										<ion-col col="6" class="ion-padding-start">
											<p>
												<span
													[ngClass]="{'buy': p.orderCategory == 'buy', 'sell': p.orderCategory == 'sell'}">
													{{p.name}} </span>
											</p>
											<p>Quantity: {{p?.orderCategory == 'sell' ? '-' : '+'}}{{p.quantity}}</p>
										</ion-col>
										<ion-col col="6" class="ion-text-right column-centralise-text">
											<p style="margin-bottom:0px"><strong>LTP</strong> {{p.ltp}}</p>
											<p><strong>{{p.key | titlecase}}</strong>
												{{p.key == 'stoploss' ? p.stoploss : p.target}}</p>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-item>
						</ion-list>
					</ion-card>
				</div>
			</super-tab>
		</super-tabs-container>
	</super-tabs>
</ion-content>