.profile-header{
    flex-direction: row; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;

    div{
        display: flex; 
        flex-direction: column; 
        justify-content: start;
    }
    h5{
        margin-bottom:0px;
    }
    p{
        margin-top:5px;
    }
    
    .account-img{
        height: 85px; 
        width: 85px; 
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffff7f;
        span{
            text-align: center;
            font-size: 45px;
            color:black;
            text-transform: capitalize;
        }
    }
}
hr {
    border-top: 1px solid rgba(167, 167, 167, 0.5) !important;
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.account-card-link{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;

    .icon{
        font-size: 25px;
    }
}
.subtitle{
    color:#737373;
}
@media(prefers-color-scheme: dark) {
    .subtitle{
        color:#949494;
    }
}