<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="['home','watchlist']" (click)="navigateToAccount()"></ion-back-button>
		</ion-buttons>
		<ion-title>Profile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding profile-header">
		<div>
			<ion-text><h5>{{user.firstname + ' ' + user.lastname}}</h5></ion-text>
			<ion-text><p>{{user.email}}</p></ion-text>
		</div>
		<img
			*ngIf="!hasNoImgUrl"
			src="https://images8.alphacoders.com/679/thumb-1920-679478.jpg"
			class="ion-float-right account-img"
		/>
		<div *ngIf="hasNoImgUrl" class="ion-float-right account-img">
			<span>{{user.imgUrl}}</span>
		</div>
	</div>
	<hr />
	<ion-grid>
		<!-- <ion-row class="ion-margin-bottom">
      <ion-col size=6 class="ion-text-left subtitle">E-mail</ion-col>
      <ion-col size=6 class="ion-text-right">{{user.email}}</ion-col>
    </ion-row> -->
		<!-- <ion-row class="ion-margin-bottom">
      <ion-col size=6 class="ion-text-left subtitle">Phone</ion-col>
      <ion-col size=6 class="ion-text-right">*7890</ion-col>
    </ion-row> -->
		<ion-row class="ion-margin-bottom">
			<ion-col size="6" class="ion-text-left subtitle">PAN</ion-col>
			<ion-col size="6" class="ion-text-right">*233H</ion-col>
		</ion-row>
		<ion-row class="ion-margin-bottom">
			<ion-col size="6" class="ion-text-left subtitle">Demat (BO)</ion-col>
			<ion-col size="6" class="ion-text-right">1234567875434567</ion-col>
		</ion-row>
	</ion-grid>
	<hr />
	<div class="ion-no-border ion-padding account-card-link" (click)="openCompaniesModal()">
		<ion-text>Change password</ion-text>
		<ion-icon name="sync-outline" class="ion-margin-end icon"></ion-icon>
	</div>
	<hr />
</ion-content>
