<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="['home','watchlist']" (click)="navigateToAccount()"></ion-back-button>
		</ion-buttons>
		<ion-title>Profile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card mode="ios" class="profile-header">
		<ion-card-content>
			<div class="information">
				<ion-label class="title">{{user.username}}</ion-label>
				<ion-label class="subtitle">{{user.email}}</ion-label>
			</div>
			<div class="img">
				<span>{{user.username[0]+user.username[1]}}</span>
			</div>
		</ion-card-content>
	</ion-card>
	<!--<div class="ion-padding ">
	</div>-->
</ion-content>
<ion-footer>
	<ion-toolbar class="footer-toolbar">
		<div class="ion-no-border ion-padding account-card-link" (click)="openCompaniesModal()">
			<ion-text>Change password</ion-text>
			<ion-icon name="sync-outline" class="ion-margin-end icon"></ion-icon>
		</div>
	</ion-toolbar>
</ion-footer>
