<ion-header>
	<ion-toolbar>
		<ion-title slot="start"> {{ selectedStock.name }} - position </ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content mode="ios">
	<div class="wrap">
		<ion-text class="position-title">Position 1</ion-text>
		<ion-list>
			<ion-card class="position-card" mode="ios">
				<ion-card-content>
					<div class="information">
						<ion-text class="stockname">{{ selectedStock.name }}</ion-text>
						<ion-text class="price">{{ selectedStock.ltp }}</ion-text>
						<ion-text class="percentage" *ngIf="+selectedStock.ltp - +selectedStock.ldp >= 0">
							+{{ +selectedStock.ltp - +selectedStock.ldp | number: "1.1-2" }} (+{{ (+selectedStock.ltp - +selectedStock.ldp) / +selectedStock.ldp | percent: "1.1-2" }})
						</ion-text>
						<ion-text class="percentage" *ngIf="+selectedStock.ltp - +selectedStock.ldp < 0">
							-{{ +selectedStock.ltp - +selectedStock.ldp | number: "1.1-2" }} (-{{ (+selectedStock.ltp - +selectedStock.ldp) / +selectedStock.ldp | percent: "1.1-2" }})
						</ion-text>
					</div>
					<div class="buttons">
						<button class="buy-btn" (click)="onClick(true)">Buy</button>
						<button class="sell-btn" (click)="onClick(false)">Sell</button>
					</div>
				</ion-card-content>
			</ion-card>
		</ion-list>
		<ion-button (click)="navigateToChart()" color="tertiary" size="small" expand="block" fill="clear" class="ion-margin-end ion-float-left"> View chart </ion-button>
	</div>
</ion-content>
