<ion-header [ngClass]="{'ion-no-border': !isSimualted}">
	<ion-toolbar style="display: flex; align-items: center; justify-content: center">
		<ion-title *ngIf="!isSimualted" (click)="onWatchlistTitleClick()">
			<div style="display: flex; align-items: center; justify-content: center">
				<span>Watchlist</span>
				<ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
			</div>
		</ion-title>
		<ion-title *ngIf="isSimualted">
			<div style="display: flex; align-items: center; justify-content: center">
				<span>Watchlist</span>
				<ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
			</div>
		</ion-title>
		<ion-img slot="end" src="/assets/logo_no_back.png" class="logo"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content mode="ios" *ngIf="!isSimualted">
	<super-tabs *ngIf="!dataLoaded">
		<super-tabs-toolbar slot="top" color="translucent">
			<super-tab-button>
				<ion-label
					style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center">
					<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
				</ion-label>
			</super-tab-button>
		</super-tabs-toolbar>
		<super-tabs-container>
			<super-tab>
				<ion-list style="display: flex; flex-direction: column; padding-top: 5px">
					<ion-item *ngFor="let item of [].constructor(9)" class="ion-no-padding"
						style="width: 100%; height: 66px">
						<ion-label class="ion-padding-start"
							style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; height: 12px">
							<ion-skeleton-text animated style="width: 40%; padding: 11px"></ion-skeleton-text>
						</ion-label>
						<ion-label style="display: flex; flex-direction: column; align-items: flex-end">
							<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
							<ion-label
								style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%">
								<ion-skeleton-text animated style="width: 20%; margin-right: 10px">
								</ion-skeleton-text>
								<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-label>
						</ion-label>
					</ion-item>
				</ion-list>
			</super-tab>
		</super-tabs-container>
	</super-tabs>
	<super-tabs *ngIf="watchlists?.length > 0 && dataLoaded">
		<super-tabs-toolbar slot="top" color="translucent" [scrollable]="watchlists?.length > 4"
			[scrollablePadding]="watchlists?.length < 3">
			<super-tab-button *ngFor="let w of watchlists; let i = index" (click)="tabIndex(i)" appDoubleTap
				(eventHandler)="onWatchlistTabClick()">
				<ion-label>{{w.name?.length > 8 ? w.name.substring(0,8) + '...' : w.name}}</ion-label>
			</super-tab-button>
		</super-tabs-toolbar>
		<super-tabs-container (activeTabIndexChange)="tabIndex($event)">
			<super-tab *ngFor="let w of watchlists">
				<ion-list>
					<ion-card mode="ios">
						<div *ngFor="let c of w.stockIds">
							<ion-item class="ion-no-padding" *ngIf="c.started && c.isLoaded">
								<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
									<h3>{{c.name}}</h3>
								</ion-label>
								<ion-label class="ion-margin-start ion-text-right"
									*ngIf="+c.ltp - +c.ldp >= 0 && c.started" (click)="openBuySellModal(c)">
									<ion-text class="stock-price">
										<h3>{{c.ltp | number:'1.1-2'}}</h3>
									</ion-text>
									<p>+{{+c.ltp - +c.ldp | number:'1.1-2'}}
										(+{{(+c.ltp - +c.ldp) / +c.ldp | percent:'1.1-2'}})
									</p>
								</ion-label>
								<ion-label class="ion-margin-start ion-text-right"
									*ngIf="+c.ltp - +c.ldp < 0 && c.started" (click)="openBuySellModal(c)">
									<ion-text color="danger">
										<h3>{{c.ltp | number:'1.1-2'}}</h3>
									</ion-text>
									<p>-{{+c.ltp - +c.ldp | number:'1.1-2'}}
										(-{{(+c.ltp - +c.ldp) / +c.ldp | percent:'1.1-2'}})
									</p>
								</ion-label>
							</ion-item>
							<ion-item class="ion-no-padding" *ngIf="!c.started && c.isLoaded">
								<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
									<h3>{{c.name}}</h3>
								</ion-label>
								<ion-label (click)="subscribeToStockSocket(w._id, c.id)"
									class="ion-margin-start ion-text-right">
									<ion-icon src="assets/svg/play.svg"></ion-icon>
								</ion-label>
							</ion-item>
							<ion-item class="ion-no-padding" *ngIf="!c.started && !c.isLoaded">
								<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
									<h3>{{c.name}}</h3>
								</ion-label>
								<ion-label class="ion-margin-start ion-text-right">
									<ion-spinner name="lines-small"></ion-spinner>
								</ion-label>
							</ion-item>
						</div>
					</ion-card>
				</ion-list>
			</super-tab>
		</super-tabs-container>
	</super-tabs>
</ion-content>
<ion-content mode="ios" *ngIf="isSimualted">
	<div class="wrap">
		<h1>{{user?.username}}'s</h1>
		<h4>Watchlist</h4>
		<ion-list *ngIf="dataLoaded">
			<ion-card *ngFor="let w of watchlists" mode="ios">
				<div *ngFor="let c of w.stockIds">
					<ion-item class="ion-no-padding" *ngIf="c.started && c.isLoaded">
						<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
							<h3>{{c.name}}</h3>
						</ion-label>
						<ion-label class="ion-margin-start ion-text-right" *ngIf="+c.ltp - +c.ldp >= 0 && c.started"
							(click)="openBuySellModal(c)">
							<ion-text class="stock-price">
								<h3>{{c.ltp | number:'1.1-2'}}</h3>
							</ion-text>
							<p>+{{+c.ltp - +c.ldp | number:'1.1-2'}} (+{{(+c.ltp - +c.ldp) / +c.ldp | percent:'1.1-2'}})
							</p>
						</ion-label>
						<ion-label class="ion-margin-start ion-text-right" *ngIf="+c.ltp - +c.ldp < 0 && c.started"
							(click)="openBuySellModal(c)">
							<ion-text color="danger">
								<h3>{{c.ltp | number:'1.1-2'}}</h3>
							</ion-text>
							<p>-{{+c.ltp - +c.ldp | number:'1.1-2'}} (-{{(+c.ltp - +c.ldp) / +c.ldp | percent:'1.1-2'}})
							</p>
						</ion-label>
					</ion-item>
					<ion-item class="ion-no-padding" *ngIf="!c.started && c.isLoaded">
						<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
							<h3>{{c.name}}</h3>
						</ion-label>
						<ion-label (click)="subscribeToStockSocket(w._id, c.id)"
							class="ion-margin-start ion-text-right">
							<ion-icon src="assets/svg/play.svg"></ion-icon>
						</ion-label>
					</ion-item>
					<ion-item class="ion-no-padding" *ngIf="!c.started && !c.isLoaded">
						<ion-label class="ion-padding-start" (click)="openBuySellModal(c)">
							<h3>{{c.name}}</h3>
						</ion-label>
						<ion-label class="ion-margin-start ion-text-right">
							<ion-spinner name="lines-small"></ion-spinner>
						</ion-label>
					</ion-item>
				</div>
			</ion-card>
		</ion-list>
		<ion-list *ngIf="!dataLoaded">
			<ion-card>
				<ion-list>
					<ion-item class="ion-no-padding" *ngFor="let item of [].constructor(5)">
						<ion-label class="ion-padding-start"
							style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; height: 12px">
							<ion-skeleton-text animated style="width: 40%; padding: 11px"></ion-skeleton-text>
						</ion-label>
						<ion-label
							style="display: flex; flex-direction: column; align-items: flex-end;margin-top: 2px;margin-bottom: 2px;">
							<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
							<ion-label
								style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%;margin-top: 2px;margin-bottom: 2px;">
								<ion-skeleton-text animated style="width: 20%; margin-right: 10px"></ion-skeleton-text>
								<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-label>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-card>
		</ion-list>
	</div>
	<div *ngIf="watchlists?.length == 0 && dataLoaded">
		<h6 class="gray">
			Go on and create your personal watchlist <br />
			by pressing 'Watchlist' in the toolbar
		</h6>
	</div>
</ion-content>
<ion-fab *ngIf="!isSimualted && watchlists.length > 0" horizontal="end" vertical="bottom"
	style="position: absolute; bottom: 10px; right: 10px">
	<ion-fab-button (click)="openCompaniesModal(selectedWatchlistId)">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
</ion-fab>