.logo{
    height: 70px;
    width: 70px;
    padding-right: 10px;
}
hr {
    border-top: 1px solid rgba(167, 167, 167, 0.5) !important;
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
h4{
    font-size: 30px;
    margin:0;
}
h5{
    font-weight: 400;
    width: fit-content;
    margin:0 !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}
h6{    
    font-weight: 400;
    width: fit-content;
    margin:0 !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}
span{
    font-size:14px;
}
.holdings-percentage{
    margin-left:10px;
}
.holdings-title,
.equity-title{
    font-size:15px;
    margin-bottom:15px;
    display: flex; 
    flex-direction: row; 
    align-items: center
}
.holdings-text{
    font-size: 13px;
    color: rgb(148, 148, 148);
}
.holdings-values{    
    font-size: 13px;
}
.holdings-table{
    margin-top:2px;
    margin-left: auto;
}
.header-labels{
    ion-label{
        font-weight: 500;
    }
}
.balance-overview-table{
    tr td ion-label{
        font-weight: 400;
    }
}
.leaderboard-table{
    width: 100%;
    tr{
        border-bottom: 1px solid #cecece;
    }
    td, th{
        width: 33%;
        text-align: center;
        padding: 15px 0;
    }
    td:first-child, th:first-child{
        text-align: left;
        padding-left: 15px;
        border-right: 1px solid #cecece;
    }
    td:last-child, th:last-child{
        text-align: right;
        padding-right: 15px;
        border-left: 1px solid #cecece;
    }
}
.see-more-button{
    margin: 0 auto;
    padding-left: 15px;
}
ion-title{
    color:black;
  }
@media screen and (max-width: 360px) {
    h4{
        font-size: 20px;
    }
    ion-title, h3{
      font-size:15px;
    }
    ion-label, ion-select, ion-select-option, p, h5{
      font-size: 13px;
    }
}
@media(prefers-color-scheme: dark) {
    ion-title{
        color:white;
    }
}
