
.d-none{
  display: none;
}
ion-tab-button{
  --color: black;
  --color-focused:#C99A4C;
  --color-selected:#C99A4C;
  ion-icon{
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  ion-label{
    font-size: 10px;
  }
  ion-icon{
    font-size: 19px;
  }
  ion-tab-button{
    widows: 69px;
  }
}