<ion-tabs mode="ios">
	<div [ngClass]="{'d-none': isLoginOrSignUp}">
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="watchlist">
				<ion-icon src="/assets/svg/bookmark.svg"></ion-icon>
				<!-- <ion-label class="route-label">Watchlist</ion-label> -->
			</ion-tab-button>
	
			<ion-tab-button tab="orders">
				<ion-icon src="/assets/svg/box.svg"></ion-icon>
				<!-- <ion-label class="route-label">Orders</ion-label> -->
			</ion-tab-button>
	
			<ion-tab-button tab="dashboard">
				<ion-icon src="/assets/svg/grid.svg"></ion-icon>
				<!-- <ion-label class="route-label">Dashboard</ion-label> -->
			</ion-tab-button>
	
			<ion-tab-button tab="learning">
				<ion-icon src="/assets/svg/book.svg"></ion-icon>
				<!-- <ion-label class="route-label">Marubozu</ion-label> -->
			</ion-tab-button>
	
			<ion-tab-button tab="account">
				<ion-icon src="/assets/svg/user.svg"></ion-icon>
				<!-- <ion-label class="route-label">{{username}}</ion-label> -->
			</ion-tab-button>
		</ion-tab-bar>
	</div>
</ion-tabs>
