<ion-tabs>
	<div [ngClass]="{'d-none': isLoginOrSignUp}">
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="watchlist">
				<ion-icon name="bookmark-outline"></ion-icon>
				<ion-label class="route-label">Watchlist</ion-label>
			</ion-tab-button>
	
			<ion-tab-button tab="orders">
				<ion-icon name="cube-outline"></ion-icon>
				<ion-label class="route-label">Orders</ion-label>
			</ion-tab-button>
	
			<ion-tab-button tab="dashboard">
				<ion-icon name="grid-outline"></ion-icon>
				<ion-label class="route-label">Dashboard</ion-label>
			</ion-tab-button>
	
			<ion-tab-button tab="learning">
				<ion-icon name="book-outline"></ion-icon>
				<ion-label class="route-label">Marubozu</ion-label>
			</ion-tab-button>
	
			<ion-tab-button tab="account">
				<ion-icon name="person-circle-outline"></ion-icon>
				<ion-label class="route-label">TE8123</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</div>
</ion-tabs>
