<ion-header mode="md">
	<ion-toolbar>
		<ion-title>Edit watchlist</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-item class="ion-margin-horizontal ion-no-padding">
		<ion-label position="floating">Name of watchlist</ion-label>
		<ion-input [(ngModel)]="watchlistName"></ion-input>
	</ion-item>
	<ion-button (click)="onEditWatchlist()" class="ion-margin" expand="block">
		Save watchlist
		<ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
	</ion-button>
	<div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)" *ngIf="stocks.length > 0">
		<div *ngFor="let stock of stocks" style="width: 100%;" cdkDrag class="drag-box">
			<div *ngIf="stock != undefined">
				<ion-icon name="reorder-three-outline" class="ion-margin-end"></ion-icon>
				<span>{{ stock.name }}</span>
			</div>
		</div>
	</div>
</ion-content>
