<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>Edit watchlist</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-item class="ion-margin-horizontal">
		<ion-label position="floating">Name of watchlist</ion-label>
		<ion-input [(ngModel)]="watchlistName"></ion-input>
	</ion-item>
	<!-- <ion-label position="floating" color="danger" class="ion-padding"
			*ngIf="editWatchlistForm.invalid && editWatchlistForm.touched">
			Please enter the name of watchlist
		</ion-label> -->
	<ion-button (click)="onEditWatchlist()" class="ion-margin" expand="block">Save watchlist</ion-button>
	<div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)" *ngIf="companies.length > 0">
		<div class="drag-box" *ngFor="let company of companies" cdkDrag>
			<ion-icon name="reorder-three-outline" class="ion-margin-end"></ion-icon>
			<span>{{ company.name }}</span>
		</div>
	</div>
</ion-content>
