<ion-header mode="md">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home/dashboard"></ion-back-button>
		</ion-buttons>
		<ion-title>Leaderboard</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col style="display: flex; flex-direction: column; justify-content: center; align-items: center">
				<!-- <ion-title class="ion-margin-vertical ion-no-padding ion-text-left">Leaderboard</ion-title> -->
				<ion-list style="width: 100%">
					<table class="leaderboard-table">
						<thead class="header-labels">
							<tr>
								<th><ion-label>Rank</ion-label></th>
								<th><ion-label>Name</ion-label></th>
								<th><ion-label>% Gain</ion-label></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="!dataLoaded; else lb">
								<td><ion-spinner name="lines-small"></ion-spinner></td>
								<td><ion-spinner name="lines-small"></ion-spinner></td>
								<td><ion-spinner name="lines-small"></ion-spinner></td>
							</tr>
							<tr #lb *ngFor="let user of leaderboard">
								<td><ion-label>{{user?.rank}}</ion-label></td>
								<td><ion-label>{{user?.userName}}</ion-label></td>
								<td><ion-label>{{user?.gain | number:'1.1'}}%</ion-label></td>
							</tr>
						</tbody>
					</table>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
